@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Suplementos ao seu dispor</h1>
    <p class="lead">Tudo em suplementação para auxiliar os seus Treinos e dietas do dia-a-dia com os melhores preços do mercado!</p>
    <p><img src="http://saiuparaentrega.com/wp-content/uploads/2013/09/comprar-suplementos-importados.jpg" /></p>
    <p><img src=http://i1.wp.com/dietaflexivel.com/wp-content/uploads/2016/10/Suplementos-para-ganhar-massa-muscular.jpg?w =537" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dicas de Suplementação</h2>
        <p>
           Para obtér ajuda em suplementos que possam ajudar em seus objetivos e Ganhos em seus treinos/dieta
        </p>
        <p><a class="btn btn-default" href="http://www.hipertrofia.org/blog/">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Academia Conveniada</h2>
        <p>Para conhecer uma opção de academia com preço Justo e Estrutura de primeira com todo o suporte necessário</p>
        <p><a class="btn btn-default" href="https://www.smartfit.com.br/?gclid=CMSLl6TV29QCFcgIkQodm78OVA">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Site Parceiro</h2>
        <p>Se procura produtos que possam auxiliar seus treinos como Roupas e acessórios para sua Atividade física</p>
        <p><a class="btn btn-default" href="http://www.decathlon.com.br/">Saiba mais &raquo;</a></p>
    </div>
</div>